<div class="post-summary">
  <h3 class="post-summary--title">
    <a href="{{post.url}}">{{{post.title}}}</a></li>
  </h3>
  <div class="post-summary--date">
    {{moment post.date "MMMM Do, YYYY"}}
  </div>
  <div class="post-summary--excerpt">
    {{{post.excerpt}}}
  </div>
</div>
