.archive {
  @include content-block;
}

.archive--toc a {
  @include futura;
  @include link-no-underline;
}

.archive--year {
  @include futura;
  color: $label-color;
  font-size: 3.375rem;
  line-height: 3.71rem;
  margin: 120px 0 30px;
}

.archive--post > a {
  line-height: 2rem;
  @include link-no-underline();
}
