/** Blog Post **/

@keyframes background {
  0% { background-position: 0 0; }
  100% { background-position: 0 64px; }
}

.post--header {
  width: 100%;
  min-height: calc(90vh - 117px);
  background-color: #e30000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='64' viewBox='0 0 16 32'%3E%3Cg fill='%23920000' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
  animation: background 3.5s linear infinite;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post--title {
  text-align: left;
  font-family: "HoeflerText-Regular", serif;
  font-size: 3.375rem;
  line-height: 3.71rem;
  color: white;
  font-weight: 400;
  margin: 15px 0 15px;
}

@media (min-width: 920px) {
  .post--title {
    font-size: 5.063rem;
    line-height: 5.569rem;
  }
}

.post--date {
  margin: 15px 7px 30px;
  font-size: 0.667rem;
  line-height: 0.7337rem;
  color: white;
}

.post--content {
  max-width: $page-width + 30px;
  margin: 60px auto;
  padding: 0 30px;
}

.signature {
  font-style: italic;
}

.up-next {
  @include content-block;
}

.up-next--next, .up-next--previous {
  @include futura;
  color: $label-color;
  margin: 90px 0 15px;
}

.up-next .post-summary {
  margin: 15px 0 30px;
}
